html, body {
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #000;
}

.button {
  opacity: 1;
  transition: 0.4s;
}

.button-80:hover {
  opacity: 0.8;
}

.button-60:hover {
  opacity: 0.6;
}

.text_nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* header */

.header {
  display: flex;
  margin: 45px auto 0px;
  max-width: 880px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  margin: 0 0 41px 0 ;
}

/* profile */

.profile {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  max-height: 120px;
  margin: 40px auto 0px;
}

.profile__content {
  display: flex;
  gap: 30px;
}

.profile__content_avatar {
  margin: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-image: url(/svg/Kusto.svg);
}

.profile__content_info {
  align-self: center;
  width: 336px;
  max-height: 73px;
}

.profile__content_info-namebutton {
  display: flex;
  gap: 18px;
  max-width: 336px;
  max-height: 39px;
}

.profile_content_info-name {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}

.profile_content_info-button {
  align-self: flex-end;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/svg/pen.svg);
  cursor: pointer;
}

.profile__content_info-description {
  margin: 16px 0px 0px 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.profile__add-button {
  align-self: center;
  margin-left: 0px;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/svg/plus.svg);
  cursor: pointer;
}

/* elements */

.elements {
  margin: 50px auto 0px;
  max-width: 880px;
}

.elements__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  gap: 20px 17px;
}

.elements__list_item {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 282px;
  height: 361px;
  overflow: hidden;
  border-radius: 10px;
  list-style: none;
  background-color: #fff;
}

.elements__list_item-img {
  object-fit: cover;
  max-width: 282px;
  max-height: 282px;
}

.elements__list_item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 21px;
  max-width: 246px;
  max-height: 23px;
}

.list__item_block-description {
  max-width: 190px;
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}

.list__item_block-heart {
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/svg/heart.svg);
  cursor: pointer;
}

/* footer */

.footer {
  margin: 70px auto 0px;
  max-width: 880px;
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

/* popup */

.popup-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.popup {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(0,0,0,.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.popup__form {
  position: relative;
  margin: auto;
  width: 430px;
  height: 330px;
  box-shadow: 0 0 25px rgba(0,0,0,.15);
  background-color: #fff;
  border-radius: 10px;
}

.form {
  margin: 34px auto 37px;
  max-width: 358px;
  max-height: 259px;
}

.form__title {
  max-height: 23px;
  overflow: visible;
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}

.form__fieldset {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  border: none;
  padding: 0;
  margin: 54px 0 0 0;
  width: 100%;
}

.form__item {
  width: 100%;
  height: 13px;
  padding: 0 0 13px 0;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.form__submit-button {
  margin-top: 48px;
  width:  100%;
  height: 50px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
}

.popup__box {
  max-width: 430px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  margin: auto;
}

.popup__box_close {
  display: flex;
  justify-content: flex-end;
  width: 470px;
  margin: auto;
}

.box__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/svg/Close\ Icon.svg);
  cursor: pointer;
}